.menu {
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    bottom: -100px;
  }

  @font-face {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@600;700;800&display=swap');
    font-display: swap;
  }

  .menu .menuTitle {
    font-family: 'Alumni Sans', sans-serif;
    font-display: swap;
    font-size: 60px;
  }
  
  .menuList {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    position: relative;
    left: -200px;
    bottom: 150px;
  }

  
  .pizzas {
    -webkit-font-smoothing: antialiased;
    width: 1000px;
    height: 20px;
    background-color: rgb(0, 100, 145);
    color: rgb(255, 255, 255);
    font-size: 1.41667em;
    padding: 0.475882em 0.588235em;
    position: relative;
    bottom: 570px;
    left: 300px;
  }

  .pizzas h1{
      font-family: 'Alumni Sans', sans-serif;
      font-size: 10%;
      color:white;
      position: relative;
      left: 30px;
      bottom: 50px;
  }

  
  /* MENU ITEM STYLING */
  
  .menuItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  .menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .menuItem h1,
  .menuItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .menuList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .menuList {
      grid-template-columns: 1fr;
    }
  }